.horizontalTab
{
	width:385px;
}
.r-tabs {
	position: relative;
}

.r-tabs .r-tabs-nav {
	border-bottom: 1px solid #ccc;
	width:325px;
	font-family:SolaimanLipi;
	/*font-size:18px;*/
}

.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	top: 1px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
	background: #00aadd;
	margin-bottom: 1px;
	padding: 10px 12px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size:14px;
	/*font-weight: bold;*/
}

.r-tabs .r-tabs-nav .r-tabs-state-active {
	background-color: #fff;
	margin-bottom: -1px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size:14px;
}

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
/*	opacity: 0.5;*/
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #00aadd;
	background-color: #fff;
	font-family:SolaimanLipi;
}

.r-tabs .r-tabs-panel {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
	height:758px;
	width:309px;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #00aadd;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 3px;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #00aadd;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 0;
}
